* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 60vh;
  background-image: url('https://islom.uz/img/section/2020/05/1589621530.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  padding-right: 30px;
}
.navBar{
  display: flex;
  flex-direction: row-reverse;
}
.logo{
  width: 15%;
  height: 20%;
}
h1 {
  padding-top: 17rem;
  font-size: 50px;
  color: #fff;
}
.hint {
  text-align: center;
  font-size: large;
  color: #6c584c;
  padding: 1rem;
}

.filter{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.list{
  width:30%;
}
h2{
  text-align: center;
  color: #582f0e;
}
.bismAllah-container{
  display: flex;
  justify-content: center;
}
.bismAllah{
  width: 30%;
  margin: auto;
}
.data-section{
  background-color: #fff;
  width: 70%;
  margin: auto;
  padding: .5rem;
}

.versesList{
  list-style-type: none;
  padding: .5rem 0;
  font-size: 18px;
  text-align: justify;
}
.VerseNum{
  color: #582f0e;
  font-weight: 700;
}